body {
  font-family: Arial;
  padding: 20px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 500px;
}

th, td {
  border: 1px solid #999;
  padding: 8px;
  text-align: center;
  font-size: 16px;
}

th {
  background: #333;
  color: white;
}

.aprovado {
  background: #1e90ff;
  color: white;
}

.reprovado {
  background: #b22222;
  color: white;
}

.exame {
  background: #ff8c00;
  color: white;
}
