body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(228, 228, 228)
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

td.android { background-color: #d9e8b4; }
td.ios { background-color: #c7d8f0; }
td.kaios { background-color: #dccde8; }
td.outros { background-color: #f4d7b8; }
