body {
    font-family: Arial;
}

.caixa {
    width: 500px;
    margin: 0 auto;
    border: 5px solid red;
    padding: 50px;
    border-radius: 100px;
    background: linear-gradient(white, #ccc);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    text-align: justify;
}

.c1 {
    background: red;
    color: white;
}

.c2 {
    font-size: 18pt;
    font-weight: bold;
}

.c3 {
    color: green;
    font-weight: bold;
    background: black;
    text-decoration: line-through;
}

.c4 {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}
